.Navbar{
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-around;
    box-shadow: 0px 1px 2px -2px black;
    position: relative;
    /* background-image: linear-gradient(90deg, #efab00, #eb850f); */
}
.Navbar-logo{
    display: flex;
    align-items: center;
}
.Navbar-logo p{
    font-size: 30px;

}
.Navbar-logo img {
    width: 120px;
    height: 130px;
}
.nav-login-cart img {
    width: 50px;
    height: 50px;
}
.nav-menu{
    display: flex;
    align-items: center;
    /* list-style: none; */
    gap: 50px;
    padding: 16px;
    text-decoration: none;
    /* background: rgba(192, 192, 192, 0.243); */
    border-radius: 15px;
    color: #171717;
    font-weight: 500;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 20px;
}

.nav-menu hr{
    border-radius: 10px;
    width: 90%;
    height: 3px;
    margin: 8px 0 8px 0;
    background-color: red;
    /* background-color: #4cc5fb; */
    cursor: pointer;
    animation: ease-in-out 1s normal;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-login-cart button{
    
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
}
.nav-cart-counter{
    display: flex;
    justify-content: center;
    margin-left: -70px;
    margin-top: -30px;
    background-color: red;
    color: white;
    border-radius:11px ;
    width: 22px;
    height: 22px;
    font-weight: bold;
    font-size: 14px;
}