.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw; /* Force the container to take the full width of the viewport */
  height: 100vh;
  display: flex;
}
